{{define "NAMESPACE"}}
apiVersion: v1
kind: Namespace
metadata:
  name: project
  labels:
    platform: zbi
    project: project
    network: testnet
{{end}}

{{define "LWD_CONF"}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: lwd-conf-instance2
  namespace: project
  labels:
    platform: zbi
    project: project
    instance: instance2
    network: testnet
    type: lwd
data:
  LWD_LOG_LEVEL: 10
  ZCASHD_RPCHOST: zcash-svc-instance
  ZCASHD_RPCPORT: 18232
{{end}}

{{define "ZCASH_CONF"}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: zcash-conf-instance2
  namespace: project
  labels:
    platform: zbi
    project: project
    instance: instance2
    network: testnet
    type: lwd
data:
  zcash.conf: |
    rpcport=18232
{{end}}

{{define "ENVOY_CONF"}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: envoy-proxy-conf-instance2
  namespace: project
  labels:
    platform: zbi
    project: project
    instance: instance
    network: testnet
    type: lwd
data:
  envoy.yaml: |
    static_resources:
      listeners:
      - address:
          socket_address:
            address: 0.0.0.0
            port_value: 29067

        filter_chains:
        - filters:
          - name: envoy.filters.network.http_connection_manager
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager
              use_remote_address: true
              skip_xff_append: false
              xff_num_trusted_hops: 0
              stat_prefix: ingress_http
              route_config:
                name: local_route
                virtual_hosts:
                - name: service
                  domains:
                  - "*"
                  routes:
                  - match:
                      prefix: "/"
                      grpc:
                    route:
                      cluster: lwd
                      max_stream_duration:
                        grpc_timeout_header_max: 2.0s
                  cors:
                    allow_origin_string_match:
                      - prefix: "*"
                    allow_methods: GET, PUT, DELETE, POST, OPTIONS
                    allow_headers: keep-alive,user-agent,cache-control,content-type,content-transfer-encoding,custom-header-1,x-accept-content-transfer-encoding,x-accept-response-streaming,x-user-agent,x-grpc-web,grpc-timeout,authorization,x-api-key
                    max_age: "1728000"
                    expose_headers: custom-header-1,grpc-status,grpc-message

              http_filters:
              - name: envoy.filters.http.grpc_web
                typed_config:
                  "@type": type.googleapis.com/envoy.extensions.filters.http.grpc_web.v3.GrpcWeb
              - name: envoy.filters.http.cors
                typed_config:
                  "@type": type.googleapis.com/envoy.extensions.filters.http.cors.v3.Cors
              - name: envoy.filters.http.router
                typed_config:
                  "@type": type.googleapis.com/envoy.extensions.filters.http.router.v3.Router

      clusters:
      - name: lwd
        connect_timeout: 2.0s
        type: strict_dns
        typed_extension_protocol_options:
          envoy.extensions.upstreams.http.v3.HttpProtocolOptions:
            "@type": type.googleapis.com/envoy.extensions.upstreams.http.v3.HttpProtocolOptions
            explicit_http_config:
              http2_protocol_options: {}
        load_assignment:
          cluster_name: lwd
          endpoints:
          - lb_endpoints:
            - endpoint:
                address:
                  socket_address:
                    address: 127.0.0.1
                    port_value: 9067
{{end}}

{{define "DEPLOYMENT"}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: lwd-node-instance2
  namespace: project
  labels:
    platform: zbi
    project: project
    instance: instance
    network: testnet
    type: lwd
    app: lwd
  annotations:
    configmap.reloader.stakater.com/reload: "envoy-proxy-conf-instance2"
    secret.reloader.stakater.com/reload: "credentials-instance"
spec:
  selector:
    matchLabels:
      platform: zbi
      project: project
      instance: instance
      network: testnet
      type: lwd
      app: lwd
  template:
    metadata:
      labels:
        platform: zbi
        project: project
        instance: instance
        network: testnet
        type: lwd
        app: lwd
    spec:
      serviceAccountName: default
      securityContext:
        runAsUser: 2002
        runAsGroup: 2002
        fsGroup: 2002
      volumes:
      - name: zcash-conf
        configMap:
          name: zcash-conf-instance2
      - name: lwd-data
        persistentVolumeClaim:
          claimName: instance2-12345
      - name: envoy-proxy-conf
        configMap:
          name: envoy-proxy-conf-instance2
      initContainers:
      - name: init
        volumeMounts:
        - name: lwd-data
          mountPath: /var/lib/lightwalletd
        image: busybox
        command: ["sh", "-c", "chown -R 2002:2002 /var/lib/lightwalletd"]
        securityContext:
          runAsUser: 0
          allowPrivilegeEscalation: true
      containers:
      - name: node
        image: electriccoinco/lightwalletd:v04.13
        args:
          - --grpc-bind-addr=0.0.0.0:9067
          - --http-bind-addr=0.0.0.0:9068
          - --rpchost=$(ZCASHD_RPCHOST)
          - --rpcport=$(ZCASHD_RPCPORT)
          - --rpcuser=$(ZCASHD_RPCUSER)
          - --rpcpassword=$(ZCASHD_RPCPASSWORD)
          - --zcash-conf-path=/etc/lightwalletd/conf/zcash.conf
          - --log-file=/dev/stdout
          - --log-level=$(LWD_LOG_LEVEL)
          - --data-dir=/var/lib/lightwalletd
          - --no-tls-very-insecure
        env:
          - name: LWD_LOG_LEVEL
            valueFrom:
              configMapKeyRef:
                name: lwd-conf-instance2
                key: LWD_LOG_LEVEL
          - name: ZCASHD_RPCHOST
            valueFrom:
              configMapKeyRef:
                name: lwd-conf-instance2
                key: ZCASHD_RPCHOST
          - name: ZCASHD_RPCPORT
            valueFrom:
              configMapKeyRef:
                name: lwd-conf-instance2
                key: ZCASHD_RPCPORT
          - name: ZCASHD_RPCUSER
            valueFrom:
              secretKeyRef:
                name: credentials-instance
                key: username
          - name: ZCASHD_RPCPASSWORD
            valueFrom:
              secretKeyRef:
                name: credentials-instance
                key: password
        ports:
        - name: lwd-grpc
          containerPort: 9067
        - name: lwd-http
          containerPort: 9068
        volumeMounts:
          - name: zcash-conf
            mountPath: /etc/lightwalletd/conf
            readOnly: true
          - name: lwd-data
            mountPath: /var/lib/lightwalletd
      - name: envoy
        image: envoyproxy/envoy:v1.20-latest
        command: ["/usr/local/bin/envoy", "-c", "/etc/envoy/envoy.yaml", "--log-level", "info"]
        ports:
          - name: lwd-grpc-proxy
            containerPort: 29067
            protocol: TCP
        volumeMounts:
          - name: envoy-proxy-conf
            mountPath: "/etc/envoy"
            readOnly: true
{{end}}

{{define "SERVICE"}}
apiVersion: v1
kind: Service
metadata:
  name: lwd-svc-instance2
  namespace: project
  labels:
    platform: zbi
    project: project
    instance: instance2
    network: testnet
    type: lwd
  annotations:
    projectcontour.io/upstream-protocol.h2c: "https,443"
spec:
  selector:
    platform: zbi
    project: project
    instance: instance2
    network: testnet
    type: lwd
    app: lwd
  ports:
    - name: lwd-grpc
      port: 9067
      targetPort: 9067
    - name: lwd-http
      port: 9068
      targetPort: 9068
    - name: lwd-grpc-proxy
      port: 29067
      targetPort: 29067
{{end}}
  
{{define "VOLUME"}}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: instance2-12345
  namespace: project
  labels:
    platform: zbi
    project: project
    instance: instance2
    network: testnet
    type: lwd
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
{{end}}
    
{{define "INGRESS"}}
apiVersion: projectcontour.io/v1
kind: HTTPProxy
metadata:
  name: ingress-instance2
  namespace: project
  labels:
    platform: zbi
    project: project
    instance: instance2
    network: testnet
    type: lwd
spec:
  virtualhost:
    fqdn: project-instance2.zbitech.local
    tls:
      secretName: {{.DomainSecret}}
  routes:
  - services:
    - name: lwd-svc-instance2
      port: 28232
      protocol: h2c
{{end}}

{{define "INGRESS_STOPPED"}}
apiVersion: projectcontour.io/v1
kind: HTTPProxy
metadata:
  name: ingress-{{.Name}}
  namespace: {{.Namespace}}
  labels:
    {{- range $key, $value := .Labels}}
    {{$key}}: {{$value}}
    {{- end}}
spec:
  virtualhost:
    fqdn: {{.Namespace}}-{{.Name}}.{{.DomainName}}
    tls:
      secretName: {{.DomainSecret}}
  routes:
  - services:
    - name: project-svc
      port: 50051
      protocol: h2c
{{end}}